/*contenedor menu*/
.menu{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around; /*eje X*/
    align-items: center; /*eje Y*/
    background-color: red;
}
/* logo */
.menu .logo img{
    width: 150px;
}
/* enlaces */
.menu .enlaces ul{
    display: flex;
    list-style: none;
}
.menu .enlaces ul li{
    margin-right: 10px;
}
.menu .enlaces ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.menu .botones button{
    background-color: white;
    color: red;
    font-size: 20px;
}
/*sesion inicio*/
#inicio{
    width: 100%;
    height: 600px;
}
.slider{
    position: relative; /*respete la posicion del div*/
    width: 100%; /*ancho*/
    height: 100%; /*alto*/
    display: flex; /*imagenes en fila */
    overflow-x: auto; /* corte la imagen */
    scroll-snap-type: x mandatory; /*salga el scroll en eje X*/
}
.slide {
    flex: none; /* las imagenes no cambien de posicion */
    scroll-snap-align: start; /*el scroll empiece a la izq*/
    width: 100%; /*ancho del slider*/
    height: 100%; /*alto del slider*/
    display: flex; /*imagenes se mantengan en fila*/
    justify-content: center; /* imagenes en el centro Horizontalmente*/
    align-items: center; /*imagenes en el centro verticalmente*/
}
.slide img{
    width: 100%; /*ancho del slider*/
    height: auto; /*alto del slider*/
}
/* Sesion personajes */
#personajes{
    width: 100%;
    height: 700px;
    background-color: gainsboro;
}